#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.title-container {
  position: relative;
  display: inline-block;
}

.hide-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
}

.smooth-button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transition for background color and transform */
}
.smooth-button:hover {
    background-color: rgb(0, 74, 0);
    transform: scale(1.1);
}

.next-button {
    align-items: center;
    background-color: green; /* Button color */
    color: white; /* Text color */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

.arrow-icon {
    margin-left: 8px; /* Space between text and icon */
    transition: transform 0.2s; /* Smooth transition for hover effect */
}

.next-button:hover .arrow-icon {
    transform: translateX(2px); /* Move the arrow slightly on hover */
}